/* GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    height: calc(100vh - 100px);
    display: flex;
}
a{
    text-decoration: none;
    color: inherit;
}
/* / fine GENERALI */


/* HEADER */
header{
    flex-basis: 200px;
    background-color: red;
}
#logo-small{
    display: none;
}
/* / fine HEADER */


/* MAIN */
main{
    flex-grow: 1;
    overflow-y: auto;
}
.top-alert{
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(20, 25, 34, 0.7);
    z-index: 2;
}
.main-content{
    background-color: #141922;
    margin-top: 100px;
    padding: 20px;
}
    /* main nav */
.main-nav{
    background-color: thistle;
}
.main-nav>ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
.main-nav>ul>li>a{    
    display: block;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
}
    /* / fine main nav */

    /* main sections */
.main-content>section{
    margin-top: 20px;
}
.card-wrapper{
    display: flex;
    column-gap: 20px;
    flex-flow: row wrap;
}
.card{
    margin-top: 20px;
    text-align: center;
    width: calc((100% / 6) - 20px);
}
.card-img{
    position: relative;
    cursor: pointer;
}
.card-img img{
    width: 100%;
}
.card-img .img-play{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-play i{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-img:hover .img-play{
    display: block;
}

.section-three{
    height: 350px;/* POI TOGLILO */
}
    /* / fine main sections */
/* / fine MAIN */


/* FOOTER */
footer{
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-cover{
    background-color: blueviolet;
}
.player{
    background-color: darkgreen;
}
.footer-controller{
    background-color: orangered;
}   